.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    text-align: center;
}

.logo-card {
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    margin-bottom: 50px;
}

.logo-card img {
    max-width: 350px;
    width: 100%;
}

.cards-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-card {
    width: 220px;
    padding: 25px;
    border-radius: 18px;
    cursor: pointer;
    transition: 0.3s ease;
    color: #334155;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.nav-card h3 {
    margin-bottom: 10px;
}

.nav-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

/* cores */
.pastel-blue {
    background: #bae6fd;
}

.pastel-purple {
    background: #ddd6fe;
}

.pastel-pink {
    background: #fbcfe8;
}