<div class="container">

    <h2>Nova Solicitação de Serviço</h2>

    <form (ngSubmit)="enviarSolicitacao()" #form="ngForm">

        <!-- ========================= -->
        <!-- SELEÇÃO DE SERVIÇO -->
        <!-- ========================= -->
        <div class="form-group mb-3">
            <label for="servico">Selecione o Serviço</label>

            <select id="servico" class="form-control" name="servico" required [(ngModel)]="novaSolicitacao.servico"
                (change)="onSelecionarServico(novaSolicitacao.servico!)">

                @if (lista_de_servicos$ | async; as lista_servicos){
                @for (s of lista_servicos; track s.id){
                <option [ngValue]="s.id">{{ s.nome }}</option>
                }
                } @else {
                <option [ngValue]="null">Selecione...</option>
                }
            </select>
        </div>

        <!-- ========================= -->
        <!-- SELEÇÃO DE PROFISSIONAL -->
        <!-- ========================= -->
        <div class="form-group mb-3">

            <label for="profissional">Selecione o Profissional</label>

            <select id="profissional" class="form-control" name="profissional" required
                [(ngModel)]="novaSolicitacao.profissional">

                @if (lista_de_profissionais$ | async; as lista_profissionais){
                @for (p of lista_profissionais; track p.id){
                <option [ngValue]="p.id">{{ p.nome }}</option>
                }
                } @else {
                <option [ngValue]="null">Selecione...</option>
                }
            </select>
        </div>

        <!-- ========================= -->
        <!-- STATUS -->
        <!-- ========================= -->
        <div class="form-group mb-3">
            <label for="status">Status</label>

            <select id="status" class="form-control" name="status" [(ngModel)]="novaSolicitacao.status">

                <option value="Pendente">Pendente</option>
                <option value="Em andamento">Em andamento</option>
                <option value="Finalizado">Finalizado</option>
                <option value="Cancelado">Cancelado</option>

            </select>
        </div>

        <!-- ========================= -->
        <!-- BOTÃO -->
        <!-- ========================= -->
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">

            Enviar Solicitação

        </button>

    </form>

</div>